body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

/* home section with background image */
#home-section {
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay{
  /* An element with position: absolute; is positioned relative to parent,
    Here to cover entire home-section(parent div) 
    Height is same its parent - 700px */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  /* dark effect with rgba to use opacity, the fourth value is the opacity */
  background: rgba(0, 0, 0, 0.7);
} 

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #008ed6;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

/* Explore section */
#explore-section .fas, #share-section {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* Create section */
#create-section .fas, #share-section {
  color: #008ed6;
  background: white;
  padding: 5px;
  border-radius: 5px;
}

/* Share section */
#share-section .fas, #share-section {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
